[submodule "third_party/STM32CubeL4"]
	path = third_party/STM32CubeL4
	url = https://github.com/STMicroelectronics/STM32CubeL4.git
[submodule "third_party/tflite-micro"]
	path = third_party/tflite-micro
	url = https://github.com/tensorflow/tflite-micro.git
[submodule "third_party/libcrc"]
	path = third_party/libcrc
	url = https://github.com/lammertb/libcrc.git
[submodule "third_party/CMSIS-NN"]
	path = third_party/CMSIS-NN
	url = https://github.com/ARM-software/CMSIS-NN.git
